.contentTeamWrap{
    width: 100%;
    
}
.bodyWrap.dashboardPage{
    align-items: flex-start;
   
}


.column {
    float: left;
    width: 29%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 2% 2% 0 0%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
  }
  .column.submission {
    float: left;
    width: 90%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 2% 2% 0 3%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
  }
    .main-container{
      flex-direction: column;
      width: 100%;
      margin-left: 35px;
    }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .heading{
    width: 100%;
  }
  .leader{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 2% 2% 0 0%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 

  }
  .container{
    line-height: 150%;
    
  }
  .text-container{
    font-size: 14px;
  }
  .text-container h2{
    margin: 5px 0px 5px 0px;
  }


  .app-container {
    display: flex;

    justify-content: space-between;
    padding: 20px;
  }
  
  .team-column {
    width: 550px;
    flex: 1;
    padding: 0 10px;
  }
  
  .team-cards {
    display: grid;
    gap: 10px;
  }
  .teams{
    margin-left: 30px;
  }
  
  