
@font-face {
  font-family: 'Circular';
  src: url(./../Fonts/CircularStd-Medium.woff2) format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: 'Circular';
  src: url(./../Fonts/CircularStd-Bold.woff2) format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: 'Circular';
  src: url(./../Fonts/CircularStd-Book.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Varela';
  src: url(./../Fonts/VarelaRound-Regular.ttf) format("opentype");
  font-weight: normal;
}
* {
  box-sizing: border-box;
    font-family: "Varela";
}

body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.bodyWrap {
  width: 1200px;
  left: 200px;
  top: 30px;
  background-color: #f3e8e5;
  border-radius: 20px;
}

.maincolor {
  color: #EF5F63;
}

.bold {
  font-weight: bold;
}

.disabledEvent {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}
select {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
}
/* responsive  */

@media screen and (max-width: 1024px) {
  body, #root {
    height: auto;
    width: auto;
  }
  .bodyWrap {
    width: 100%;
    left: 0;
    position: relative !important;
    justify-content: unset !important;
  }
}

.ant-table {
  font-size: 10px;
  width: 98%;
}

.ant-btn-primary{
  background-color: #94061B !important;
}

.ant-btn-primary:hover {
  background-color: #b4051f !important;
  border-color: #94061B;
}
.ant-card-body p
{
  
  margin-top:0px;
  font-size: 14px;
  color:black
}
.ant-card-head-title 
{
  color:#94061b;
  
  font-size: 18px;
}
